global
   

defaults
    retries 3
    option  redispatch
    timeout client 30s
    timeout connect 4s
    timeout server 30s    

frontend localhost
    bind *:80
    option tcplog
    mode tcp
    default_backend signaling_server
    

backend signaling_server
    mode tcp
    balance roundrobin
    server A    sig1:3000   check
    server B    sig2:3000   check
    server C    sig3:3000   check
    server D    sig4:3000   check
